.profile-Image {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}


.left-Side {
	padding: 32px 0;
	width: 25%;
	background: $ListColor;
	font-weight: 700;
	&-Content {
		min-height: 100vh;
	}

	&-Menu {
		li {
			margin-top: 32px;
		}

		a {
			padding: 4px 0;
			background: $ListColor;
			border: none;
			&:hover,&.active {
				color: $selectColor;
				background: $ListColor;
				border-left: 4px solid $selectColor;
			}

			span {
				padding-left: 32px;
				padding-right: 16px;
			}


		}
	}

	&-Profile {
		padding-left: 32px;

		&-Details {
			h4 {
				font-size: 16px;
				margin-bottom: 4px;
				font-weight: 700;
				color: $mainColor;
			}

			p {
				font-weight: 400;
				color: $secondColor;
				margin-bottom: 0;
			}
		}
	}
}

.right-Side {
	width: 75%;
	&-Header{
		padding: 32px;
		a {
			color: $mainColor;
			font-weight: 700;
		}

		&-Title{
			h2 a{
				font-size: 24px;
			}
		}

		span {
			color: $selectColor;
		}

		&-Icon{
			span {
				color: $mainColor;
			}
		}
	}
}

