<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">
  <link rel="stylesheet" href="./bootstrap.css">
  <script src="./assets/javsScript/ckeditor.js"></script>
  <script src="./assets/javsScript/translations/zh.js"></script>
  <link rel="stylesheet" href="./assets/style/all.css">
  <title><%- title %></title>
</head>

<body>
  <div class="container row">
    <div class="left-Side col-4">

      <h1 class="logo">
        <a href="#">Answer Dashboard</a>
      </h1>

      <div class="left-Side-Content d-flex flex-column justify-content-between">
        <ul class= "list-group left-Side-Menu list-unstyled" id="list-tab" role="tablist">
          <li>
            <a class="d-flex list-group-item list-group-item-action" id="list-dashboard-list" data-bs-toggle="list" href="#list-dashboard" role="tab" aria-controls="list-dashboard">
              <span class="material-icons">insert_chart</span>
              Dashboard
            </a>
          </li>

          <li>
            <a class="d-flex list-group-item list-group-item-action" id="list-question-list" data-bs-toggle="list" href="#list-question" role="tab" aria-controls="list-question">
              <span class="material-icons">question_answer</span>
              Question
            </a>
          </li>

          <li>
            <a class="d-flex list-group-item list-group-item-action active" id="list-assignment-list" data-bs-toggle="list" href="#list-assignment" role="tab" aria-controls="list-assignment">
              <span class="material-icons">assignment</span>
              Assignment
            </a>
          </li>

          <li>
            <a class="d-flex list-group-item list-group-item-action" id="list-course-list" data-bs-toggle="list" href="#list-course" role="tab" aria-controls="list-course">
              <span class="material-icons">video_library</span>
              Course
            </a>
          </li>

          <li>
            <a class="d-flex list-group-item list-group-item-action" id="list-admin-list" data-bs-toggle="list" href="#list-admin" role="tab" aria-controls="list-admin">
              <span class="material-icons">people</span>
              Admin
            </a>
          </li>

          <li>
            <a class="d-flex list-group-item list-group-item-action" id="list-settings-list" data-bs-toggle="list" href="#list-settings" role="tab" aria-controls="list-settings">
              <span class="material-icons">settings</span>
              Settings
            </a>
          </li>
        </ul>

        <div class="left-Side-Profile d-flex align-items-center">
          <img src="./assets/images/andychen.jpeg" class="profile-Image me-3">
          <div class="left-Side-Profile-Details">
            <a href="#"><h4 class="text-muted">Andy Chen</h4></a>
            <p>andy0401@mail.com</p>
          </div>
        </div>

      </div>
    </div>

    <div class="right-Side col-8 ">

      <%- contents %>

    </div>

  </div>

  <script src="./assets/javsScript/bootstrap.bundle.js" type="text/javascript"></script>
  <script src="./assets/javsScript/jquery-3.6.0.min.js" type="text/javascript"></script>
  <script src="./assets/js/all.js" type="text/javascript"></script>
  <script>
    ClassicEditor
      .create( document.querySelector( '#editor' ),{
        language: 'zh'
      } )
      .then( editor => {
      console.log( editor );
      } )
      .catch( error => {
      console.error( error );
      } );
  </script>
</body>
</html>
